spring:
  application:
    name: LibraryAPI

  datasource:
    url: jdbc:postgresql://localhost:5432/library-api
    username: postgres
    password: development
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
