spring:
  application:
    name: LibraryAPI
  datasource:
    url: jdbc:h2:mem:library
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

